:root{
    --background_color : #010133;
    --white-text: #fff;
    --light-text: #FBFCFE;
    --dark_text: #010133;
    --button-color: #53b7f5;

}


.faq {
    background-color: #f3fbff;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
 color:var(--dark_text);
 font-weight: 600;
}


.faq_container {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin: 1.2rem;
}

.faq_container .faq-title {
    margin-bottom: 30px;
    text-align: center;
    color: #085cdc;
    color: var(--button-color);
    font-weight: 700;
}

.faq_container .content-container .question {
    padding: 1rem 0px;
    font-size: 16px;
    cursor: pointer;
    /* border-radius: 10px; */
    position: relative;
}

.faq_container .content-container .question::after {
    content: '+';
    position: absolute;
    right: -5px;
    color:var(--dark_text);
 font-weight: 600;
}

.faq_container .content-container .answer {
    padding-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
   display: none;
    color: var(--dark_text);
    transition: .5s;
    cursor: pointer;
}

/* Javascript Styling Link */

.faq_container .content-container.active .answer {
    display: block;
}

.faq_container .content-container.active .question {
    font-size: 16px;
    transition: .5s;
}

.faq_container .content-container.active .question::after {
    content: "-";
    font-size: 25px;
    transition: .5s;
    color:var(--dark_text);
    font-weight: 600;
}



@media screen and (min-width: 768px){

    .faq_container {
        margin: 3rem;
    }

    .faq_container .content-container .question {
        font-size: 18px;
    }

}

@media screen and (min-width: 1240px){
    .faq_container .content-container .question {
        font-size: 20px;
    }

}