:root{
    --background_color : #010133;
    --white-text: #fff;
    --light-text: #FBFCFE;
    --dark_text: #010133;
    --button-color: #53b7f5;

}


body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
    
}
/* nav style */
.nav{
    font-weight: 700;
    color: var(--dark_text);
    padding: .7rem 1.2rem;
    
}

.logo{
    width: 120px;
}

.primary-btn{
height: 40px;
width: 100px;
background-color: #53b7f5;
color: #FBFCFE;
border: none;
display: block;
border-radius: 24px;
font-weight: 700;
cursor: pointer;    
margin: auto;
}
span{
    color: var(--button-color);
}


.nav a{
    text-decoration: none;
}



nav ul li{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav ul li a{
  text-decoration: none;
  color: var(--dark_text);
}


.navbar-toggler{
    border: none;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-toggler:focus{
    outline: none;
}

.toggle-button{
    background-color: transparent;
    border: none;
}

/*  */

/* Header */

.header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    padding: .7rem 2rem;
    color: var(--dark_text);
    /* background-color:  #f3fbff; */
    background: url(./images/wallpaper\ for\ destop.jpg) no-repeat 100% 100%/ cover;

}

.tab-img, .laptop-img{
    display: none;
} 

.header-img{
    width: 300px;
    margin-left: 10%;
}



.header h1{
    line-height: 2.5rem;
    padding-bottom: 1rem;
}

/*  */

/* First section */

.section{
    padding: 2rem 1.5rem;
    color: var(--background_color);
    background-color: #f3fbff;
}

.section_text{
text-align: center;
}

.section_text h2{
    padding: 1rem 1.4rem 1.4rem 1.4rem;
    font-weight: 700;
}



.section_brands{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.brand-logo{
    padding: 0 1.4rem 1.4rem 1.4rem;

}
/*  */

/* Article courosel container */
.article{
    background-color: var(--background_color);
    color: var(--light-text);
}

.article-content{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.carousel-heading{
    color: var(--button-color);
    font-weight: 700;
}

.courosel-container{
    text-align: center;
    width: 100%;
    height: 50%;
    max-width: 768px;
    margin: auto;
    /* padding: 2rem; */
}

.article{
    text-align: center;
    /* padding-top: 1rem; */
    padding-bottom: 2rem;
}

.article h2{
    color: var(--light-text);
    padding: 30px 0;
    font-weight: 700;
}

.article .info{
    padding: 2rem;
    
}

.article .info p {
    text-align: justify;    
}

 .span{
    font-size: 1.7rem;
    color: var(--button-color);
}
/*  */
.our_services {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our_services p{
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 20px;
}

.our_services h3{
font-weight: 700;
color: var(--background_color);
padding: .4rem 0px 0rem 0px;
font-size: 1.7rem;
}

.our_services .card-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 2rem;
/* background-color: var(--background_color); */
}

.card-img{
    width: 50px;
}

.our_services .cards{
    background-color: var(--background_color);
    color: var(--light-text);
    width: 160px;
    height: 140px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px 1px;
    transition: .5s;
}

.our_services .cards:hover{
    background-color: var(--button-color);
    width: 150px;
    height: 140px;
    z-index: 1;
}

.card-sub-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      }

      .see-more{
        padding-top: 30px;
        font-size: 20px;
        font-weight: 600;
        transition: .5s;
      }

      .see-more a{
        color: var(--background_color);
        text-decoration: none;
      }

      .see-more a:hover{

        color: var(--button-color);

      }



/* Footer  */
.footer{
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .footer-list {
    list-style-type: none;
    text-align: center;
    
}

.footer-list a{
    text-decoration: none;
    color: var(--light-text);
}

.footer .footer-item {
    color: var(--light-text);
    text-align: none;
    padding: 1rem; 
}

.footer .footer-icon{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-logo{
    width: 130px;
  }

  .copy-rigt {
    text-align: center;
    padding: 0px 10px 0px 10px;
    color: var(--light-text);
    font-size: 8px;
    font-weight: 500;
  }



/*  */
@media screen and (min-width: 768px) {
    
    nav ul li{
        padding-left: 1rem;
        padding-right: 2rem;
         }

         .toggle-button{
          display: none;
        }

        .nav{
            font-weight: 700;
            color: var(--dark_text);
            padding: 1.5rem 3rem;
        }

        .header{
            padding: 1.5rem 3rem;
        }

        .phone-img, .laptop-img{
            display: none;
        } 

        .tab-img{
            display: block;
            margin-left: 0px;
        }

        .header_text h1{
            line-height: 4rem;
        }

        .header-img{
            width: 450px;
        }

        .article{
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .article .info{
            padding: 1.5rem 3rem;
        }

        .section{
            padding: 3rem 4rem;
        }

        .section p{
            line-height: 2.3rem;
        }

        .brand-img{
            width: 350px;
        }

        .our_services .cards{
            width: 200px;
            height: 200px;
        }
        .our_services .cards:hover{
            width: 210px;
            height: 210px;
            
        }

        .our_services p{
            line-height: 2.3rem;
        }

        .logo{
            width: 150px;
        }

        .footer-logo{
            width: 150px;
          }

        

}


@media screen and (min-width: 1124px) {
    
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        padding: 10rem 0px 10rem 5rem;
    }

    .phone-img, .tab-img{
        display: none;
    }

    .laptop-img{
        display: block;
        margin-left: 0px;
    }

    .header_text{
        text-align: start;
        width: 700px;
        font-size: 48px;
        font-weight: 700 !important;
        
    }

    .article .info{
        padding-right: 0px;
    }



    .header-img-container{
        padding-left: 2rem;
        align-self: flex-end;
        padding: 0;
        margin-right: -20px;
    }

.header-img{
  width: 600px;
    }

    .nav ul li a{
        font-size: 1.2rem;
      }


    .primary-btn{
        height: 48px;
        width: 170px;
    }

    

    .logo{
        width: 230px;
        padding-right: 1rem;
    }

    .section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.3rem;
        padding-top: 5rem;
        padding-bottom: 6rem;
    }

    .section h1{
        padding-bottom: 2rem;
    }
   
    .section_text{
        width: 550px;
        line-height: 3rem;
        font-size: 22px;
        text-align: justify;
        font-weight: 500;
        }

        .brand-sub-container{
            gap: 2rem;
        }

        .brand-logo{
            padding: 0 1.4rem 2rem 1.4rem;
        }


 

       .article-content{
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 6%;
       }
       
       .article-content .info{
        width: 40%;
        text-align: justify;
       }

       .article{
        /* padding-top: 3rem; */
        padding-bottom: 3.5rem;
    }

    .article p{
        line-height: 2rem;
    }
      
         /* .section_brands{
            padding-right: 5rem;
        } */

        .section .section_text{
            text-align: justify;
    
        }

        .our_services{
            padding: 3rem;
        }

            .our_services .card-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .our_services .cards{
                width: 210px;
                height: 210px;
                
            }

            .our_services .cards:hover{
                width: 220px;
                height: 220px;
                z-index: 1;
                
            }
        
            .footer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 2.7rem 1rem 2.7rem;
              }

      .footer-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .footer-logo{
        width: 180px;
      }

      .footer .footer-item-icon{
        padding-right: 2.8rem;
      }

      .copy-rigt {
        text-align: center;
        padding: 10px 10px 0px 10px;
        font-size: 13px;
      }
    

}